<?xml version="1.0" encoding="utf-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.situ.hotel.mapper.BookingMapper">
    <insert id="insert">
        insert into booking
            (customerid, roomid, checkindate, checkoutdate)
        values (#{customerid}, #{roomid}, #{checkindate}, #{checkoutdate})
    </insert>
    <delete id="delete">
        delete
        from booking
        where bookingid = #{bookingid}
    </delete>
    <select id="selectById" resultType="com.situ.hotel.domain.entity.Booking">
        select bookingid,
               checkindate,
               checkoutdate,
               bookingdate,
               customer.name                                     as name,
               phone,
               typename,
               companyname,
               companyid,
               photo,
               (DATEDIFF(checkoutdate, checkindate) + 1) * price AS price
        from booking
                 left join customer
                           on booking.customerid = customer.customerid
                 left join room
                           on booking.roomid = room.roomid
                 left join roomtype
                           on room.typeid = roomtype.typeid
                 left join company
                           on room.userid = company.userid
        where bookingid = #{bookingid}
    </select>
    <select id="selectByCustomerId" resultType="com.situ.hotel.domain.entity.Booking">
        select bookingid,
               booking.customerid,
               booking.checkindate,
               booking.checkoutdate,
               booking.bookingdate,
               customer.name                                     as name,
               phone,
               typename,
               photo,
               area,
               companyname,
               companyid,
               facilities,
               room.name                                         as roomName,
               (DATEDIFF(checkoutdate, checkindate) + 1) * price AS price
        from booking
                 left join customer
                           on booking.customerid = customer.customerid
                 left join room
                           on booking.roomid = room.roomid
                 left join roomtype
                           on room.typeid = roomtype.typeid
                 left join company
                           on room.userid = company.userid
        where booking.customerid = #{customerid}
    </select>
    <select id="select" resultType="com.situ.hotel.domain.entity.Booking">
        select bookingid,checkindate,checkoutdate,bookingdate,
        customer.name as name,phone,typename,photo,companyname,
        companyid,(DATEDIFF(checkoutdate, checkindate)+1) * price AS price
        from booking
        left join customer
        on booking.customerid=customer.customerid
        left join room
        on booking.roomid=room.roomid
        left join roomtype
        on room.typeid=roomtype.typeid
        left join company
        on room.userid = company.userid
        <where>
            <if test="name!=null and name.length>0">and customer.name like concat('%',#{name},'%')</if>
            <if test="typename!=null and typename.length>0">and typename like concat('%',#{typename},'%')</if>
            <if test="customerid!=null">and booking.customerid=#{customerid}</if>
            <if test="roomid!=null">and booking.roomid=#{roomid}</if>
            <if test="companyname!=null">and companyname=#{companyname}</if>
        </where>
    </select>
</mapper>